{% extends "base.html" %}
{% block content %}


    <div class="container text-center">
        <div class="row">
            <div class="col col-3">
                <p class="">ACT</p>
            </div>
            <div class="col col-3">
                <p class="">Start</p>
            </div>
            <div class="col col-3">
                <p class="">Finish</p>
            </div>
            <div class="col col-3">
                <p class="">Contact</p>
            </div>
        </div>
        <div class="row">
            <div class="col col4">
                <div class="btn btn-primary">ADD</div>
            </div>
        </div>
    </div>
{% endblock %}
